@page "{pageNumber:int?}/{elementsPerPage:int?}"
@model Project.Presentation.Pages.Clients.ReadClientsModel
@{
}
<style>
    #pag {
        position: fixed;
        bottom: 80px;
        left: 0;
        width: 100%;
    }
</style>
<h1>Clients List</h1>

<table class="table">
    <thead>
        <tr>

            <th>Name</th>
            <th>Code</th>
            <th>Class</th>
            <th>State</th>
            <th>Edit</th>
            <th>Delete</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var client in Model.Clients)
        {
            <tr>
                <td>@client.Name</td>
                <td>@client.Code</td>
                <td>@client.Class</td>
                <td>@client.State</td>

                <td><a class="btn btn-primary" href="/client/UpdateClient/@client.Id">Update</a></td>
                <td><a class="btn btn-danger" href="/client/UpdateClient/@client.Id">Delete</a></td>
            </tr>
        }
    </tbody>
</table>


<div class="d-flex justify-content-center" id="pag">
    @foreach (var pageNumber in Model.PageNumbers)
    {
        <a href="?pageNumber=@pageNumber" class="btn @((pageNumber == Model.CurrentPage) ? "btn-primary" : "btn-outline-primary")">@pageNumber</a>
        @if (pageNumber != Model.PageNumbers.Last())
        {
            <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
        }
    }
</div>
